AWSTemplateFormatVersion: "2010-09-09"

Description: AWS CloudFormation Starter Template

Parameters:
  MyStackInput:
    Type: Number
    Description: cloud-formation - {{ env }}

Resources:
  CfnLamdaBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName:
        Fn::Sub: ${ AWS::AccountId  }-cfn-lambda
      VersioningConfiguration:
        Status: Enabled
